.feynman__link {
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  /* шрифты */
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link:hover{
  transition:0.3s linear;
    opacity: 0.1;
}
