.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  margin: 0;
  background-color: #f2f2f2;
  z-index: 1;

  /* чтобы не вылазило за рамку */
  overflow: hidden;
}
